certifi==2020.12.5
click==7.1.2
colortools==0.1.2
dataclasses==0.6
fastapi==0.63.0
h11==0.12.0
joblib==1.0.0
lazyutils==0.3.3
mangum==0.10.0
nltk==3.5
polib==1.1.0
pydantic==1.7.3
regex==2020.11.13
starlette==0.13.6
textblob==0.15.3
tqdm==4.56.0
transpyler @ git+https://github.com/vitornere/transpyler.git@58ccca94fcb0a333229d15e758ecd4f0737178e6
typing-extensions==3.7.4.3
Unidecode==1.1.2
uvicorn==0.13.3
